@import "styles/shared.scss";

$bottom-right-border-radius: 10px;
$triangle-size: 290px;

.game-container {
    background-color: $main-bg;
    font-family: $font-family;
    @include flex-y-centered(center);
    @include sizing(100%, 100vh);
}

.inner-container {
    background-color: $white;
    border-radius: $bottom-right-border-radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 920px;
    min-width: 790px;
    padding: 50px 0;
    position: relative;
    @include sizing(80%, 75%);
}

.triangle {
    background-color: $triangle-bg;
    border-radius: 0 0 $bottom-right-border-radius 0;
    @include position(absolute, $right: 0, $bottom: 0);
    @include sizing($triangle-size, $triangle-size);

    &::before {
        content: "";
        border-top: $triangle-size solid $white;
        border-right: $triangle-size solid transparent;
        @include position(absolute, $top: 0, $left: 0);
        @include sizing(0, 0);
    }
}
