@import "styles/shared.scss";

$foot-border-radius: 10px;

$arms-rotation-radius: 45deg;
$legs-rotation-radius: 25deg;

.hangman {
    position: relative;
    @include sizing(40%, 50%);

    .bar {
        background-color: $hangman-gray;
        border-radius: 0 5px 5px 0;
        @include sizing(60%, 30px);

        &::after {
            content: "";
            background-color: $hangman-gray;
            @include position(absolute, $top: 30px, $left: 165px);
            @include sizing(25px, 40px);
        }
    }

    .head {
        background-image: url(./head.png);
        @include position(absolute, $top: 70px, $left: 144px);
        @include background-image-centerer;
        @include sizing(70px, 70px);
    }

    .neck {
        background-color: $main-hangman-color;
        @include position(absolute, $top: 140px, $left: 167px);
        @include sizing(25px, 15px);
    }

    .corpus {
        background-image: url(./corpus.png);
        @include position(absolute, $top: 155px, $left: 152px);
        @include background-image-centerer;
        @include sizing(55px, 85px);
    }

    .right-arm {
        background-color: $right-arm-bg;
        transform: rotate(-$arms-rotation-radius);
        z-index: $base-z-index;
        @include position(absolute, $top: 156px, $left: 200px);
        @include sizing(25px, 55px);
    }

    .left-arm {
        background-color: $left-arm-bg;
        transform: rotate($arms-rotation-radius);
        z-index: $base-z-index;
        @include position(absolute, $top: 156px, $left: 134px);
        @include sizing(25px, 55px);
    }

    .right-hand {
        background-color: $main-hangman-color;
        border-radius: 50%;
        @include position(absolute, $top: 191px, $left: 220px);
        @include sizing(25px, 25px);
    }

    .left-hand {
        background-color: $main-hangman-color;
        border-radius: 50%;
        @include position(absolute, $top: 191px, $left: 114px);
        @include sizing(25px, 25px);
    }

    .right-leg {
        background-color: $legs-bg;
        transform: rotate(-$legs-rotation-radius);
        z-index: $base-z-index;
        @include position(absolute, $top: 224px, $left: 195px);
        @include sizing(25px, 75px);
    }

    .left-leg {
        background-color: $legs-bg;
        transform: rotate($legs-rotation-radius);
        z-index: $base-z-index;
        @include position(absolute, $top: 224px, $left: 138px);
        @include sizing(25px, 75px);
    }

    .right-foot {
        background-color: $main-hangman-color;
        border-radius: $foot-border-radius;
        transform: rotate(-$legs-rotation-radius);
        @include position(absolute, $top: 290px, $left: 212px);
        @include sizing(35px, 15px);
    }

    .left-foot {
        background-color: $main-hangman-color;
        border-radius: $foot-border-radius;
        transform: rotate($legs-rotation-radius);
        @include position(absolute, $top: 290px, $left: 112px);
        @include sizing(35px, 15px);
    }
}
