@import "styles/shared.scss";

.hangman {
    position: relative;
    @include sizing(40%, 50%);

    .bar {
        background-color: $hangman-gray;
        border-radius: 0 5px 5px 0;
        // position: relative;
        @include sizing(60%, 30px);

        &::after {
            content: "";
            background-color: $hangman-gray;
            position: absolute;
            left: 165px;
            top: 30px;
            @include sizing(25px, 40px);
        }
    }

    .head {
        background-image: url(./head.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 144px;
        top: 70px;
        @include sizing(70px, 70px);
    }

    .neck {
        background-color: $main-hangman-color;
        position: absolute;
        left: 167px;
        top: 140px;
        @include sizing(25px, 15px);
    }

    .corpus {
        background-image: url(./corpus.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 152px;
        top: 155px;
        @include sizing(55px, 85px);
    }

    .right-arm {
        background-color: #009e67;
        position: absolute;
        transform: rotate(-45deg);
        left: 200px;
        top: 156px;
        z-index: 2;
        @include sizing(25px, 55px);
    }

    .left-arm {
        background-color: #72c558;
        position: absolute;
        transform: rotate(45deg);
        left: 134px;
        top: 156px;
        z-index: 2;
        @include sizing(25px, 55px);
    }

    .right-hand {
        background-color: $main-hangman-color;
        border-radius: 50%;
        position: absolute;
        left: 220px;
        top: 191px;
        z-index: 1;
        @include sizing(25px, 25px);
    }

    .left-hand {
        background-color: $main-hangman-color;
        border-radius: 50%;
        position: absolute;
        left: 114px;
        top: 191px;
        z-index: 1;
        @include sizing(25px, 25px);
    }

    .right-leg {
        background-color: #2c5c8a;
        position: absolute;
        left: 195px;
        top: 224px;
        transform: rotate(-25deg);
        z-index: 2;
        @include sizing(25px, 75px);
    }

    .left-leg {
        background-color: #2c5c8a;
        position: absolute;
        left: 138px;
        top: 224px;
        transform: rotate(25deg);
        z-index: 2;
        @include sizing(25px, 75px);
    }

    .right-foot {
        background-color: $main-hangman-color;
        border-radius: 10px;
        position: absolute;
        top: 290px;
        left: 212px;
        transform: rotate(-25deg);
        z-index: 1;
        @include sizing(35px, 15px);
    }

    .left-foot {
        background-color: $main-hangman-color;
        border-radius: 10px;
        position: absolute;
        top: 290px;
        left: 112px;
        transform: rotate(25deg);
        z-index: 1;
        @include sizing(35px, 15px);
    }
}
