$hangman-gray: #53555d;
$main-background-color: #3b4163;
$main-hangman-color: #fece8a;
$triangle-background-color: #4d69fa;
$white: #ffffff;

$missed-word-color: #4d69fa;
$missed-words-header-color: #53555d;
