$char-placeholder-bg: #53555d;
$empty-placeholder-bg: #e6e6e7;
$hangman-gray: #53555d;
$left-arm-bg: #72c558;
$legs-bg: #2c5c8a;
$main-bg: #3b4163;
$main-hangman-color: #fece8a;
$reload-button: #ffba00;
$reload-button-bg: rgba(255,255,255,0.2);
$right-arm-bg: #009e67;
$triangle-bg: #4d69fa;
$white: #ffffff;

$missed-char-color: #4d69fa;
$missed-chars-header-color: #53555d;
