@mixin sizing($width, $height) {
    height: $height;
    width: $width;
}

@mixin flex-y-centered($position) {
    align-items: center;
    display: flex;
    justify-content: $position;
}

@mixin background-image-centerer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
