@import "styles/shared.scss";

// I'm not using sass @extend because this feature could be problematic:
// https://github.com/airbnb/css#extend-directive
@mixin placeholder-abstract {
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

.guessed-chars-container {
    min-height: 110px;
    padding: 0 0 0 40px;
    @include position(absolute, $bottom: 0, $left: 0);
    @include flex-y-centered(flex-start);
    @include sizing(100%, 40px);
}

.empty-placeholder {
    background-color: $empty-placeholder-bg;
    @include placeholder-abstract;
    @include sizing(9%, 70px);
}

.char-placeholder {
    background-color: $char-placeholder-bg;
    color: $white;
    font-size: $base-font-size;
    line-height: $base-font-size * 1.5;
    text-align: center;
    z-index: $base-z-index;
    @include placeholder-abstract;
    @include sizing(9%, 70px);
}
